# Lab 03 - pandas

Name: Jake Schaeffer  
Class: CSCI 349 - Intro to Data Mining  
Semester: Spring 2020  
Instructor: Brian King

In [2]:
import sys
import numpy as np
import pandas as pd

### 1) [P] Report the Python, Numpy and Pandas version numbers.

In [4]:
print("system version: ",sys.version)
print("numpy version: ",np.version.version)
print("pandas version: ",pd.__version__)

system version:  3.7.6 (default, Jan  8 2020, 20:23:39) [MSC v.1916 64 bit (AMD64)]
numpy version:  1.17.4
pandas version:  0.25.3

### 2) [P] Now, show the result of pd.show_versions(). Write a comment in the cell about what this shows.
The start of Chapter 5 in McKinney's book, "Python for Data Analysis", has a nice explanation about the relationship between numpy and pandas. (See https://learning.oreilly.com/library/view/python-for-data/9781491957653/ch05.html . Also, don't forget the pandas user guide!) Let's go through some interview questions about pandas.

In [3]:
print(pd.show_versions())

INSTALLED VERSIONS
------------------
commit           : None
python           : 3.7.6.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
machine          : AMD64
processor        : Intel64 Family 6 Model 142 Stepping 11, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : None.None

pandas           : 0.25.3
numpy            : 1.17.4
pytz             : 2019.3
dateutil         : 2.8.1
pip              : 19.3.1
setuptools       : 44.0.0.post20200106
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 2.10.3
IPython          : 7.11.1
pandas_datareader: None
bs4              : None
bottleneck       : None
fastparquet      : None
gcsfs            : None
lxml.etree       : None
matplotlib       : 3.1.1
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pytables         : None
s3fs             : None
scipy            : 1.3.2
sqlalchemy       : None
tables           : None
xarray           : None
xlrd             : None
xlwt             : None
xlsxwriter       : None
None

### 3) Explain the relationship between numpy and pandas. How are they tied together? How are they different?

pandas uses numpy as a basis. numpy gives us a way to represent arrays easily. pandas builds on that by providing ways to easily manipulate, analyze and vizualize arrays as dataframes. A series is a column of a dataframe. It often would be used to hold all the different values of the same attribute across different objects.

### 4) [M] Compare and contrast Series and DataFrame.

A series is like a 1 dimensional dataframe. it contains only one sequence of data. a Dataframe can contain many series. A series can act like a ndarray or dict.

### 5) [M] What are the data types that can be used to create a Series object in pandas?

a dictionary, a numpy array, a scalar value

### 6) [M] What are the data structures that can be used to create a DataFrame object in pandas?

- a dictionary containing any of the things that can be used to make a series, or series themselves
- 2-d numpy array
- series
- dataframe

### 7) [M] In the user guide, when creating a Series, What role does the index parameter play when creating a Series object? Does the index always need to be specified? If not, what happens? Pay close attention to this NOTE from their Intro to Data Structures documentation.

The index paramater allows us to label the indices of the series however we want.
Index does not have to be specified. If not specified, it will be a normal index 0,1,2,3...

In [4]:
days = ["Mon","Tue","Wed","Thu","Fri"]
scores_1 = [9.5, 8.75, 8, 10, 7.75]
scores_2 = [9, 8, 10, 8.75, 7.25]

### 8) [P] Convert scores_1 and scores_2 into two Series objects. Use days as your index. You should name each Series object using the name parameter as "week_1", and "week_2". Do not show the result, only store the variables.

In [16]:
week_1 = pd.Series(scores_1, index = days, name = "week_1")
week_2 = pd.Series(scores_2, index = days, name = "week_2")

###  9) [P] Create a pandas DataFrame called scores, that represents the above data. Show your data frame. Your results should be arranged as shown below. You don't have the right answer until you can have the last line of your data from be scores, with a nicely formatted data frame rendered in your notebook. For example:

In [50]:
scores = pd.DataFrame((week_1,week_2),)
scores

        Mon   Tue   Wed    Thu   Fri
week_1  9.5  8.75   8.0  10.00  7.75
week_2  9.0  8.00  10.0   8.75  7.25

### 10) [P] Append the following data to the end of scores. [8.5,8,9.75,9,6]. The row label on the new week is "week_3". Show your updated data frame. It should look like the following:

In [51]:
week_3 = pd.Series([8.5,8,9.75,9,6], index = days, name = "week_3")
scores = scores.append(week_3)
scores

        Mon   Tue    Wed    Thu   Fri
week_1  9.5  8.75   8.00  10.00  7.75
week_2  9.0  8.00  10.00   8.75  7.25
week_3  8.5  8.00   9.75   9.00  6.00

### 11) [M] numpy and pandas have an ENORMOUS number of ways for selecting data. At first, the flexibility will confuse and drive you nuts. In time, it because amazing and intuitive (with less nuts.) Write yourself a quick one sentence reference for each access method listed above, with one example for each using the scores DataFrame.


.at - get value based on row and column label.  
scores.at\["week_1","Wed"\] would return 8.00  

.iat - same as .at but with integer index.  
scores.iat\[1,2\] would return 10.00  

.loc - get a group of rows or columns by label  
scores.loc\[:,"Wed", "Thu"\] would give all scores from Wednesday and Thursday  

.iloc - get a group of rows or columns by index number  
scores.iloc\[1:\] would give rows week_2 and week_3

### 12) [P] Show at least two different techniques to select scores for Tuesday using the string "Tue"

In [59]:
print(scores["Tue"])
print(scores.loc[:,"Tue"])

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

### 13) [P] Show how to retrieve the scores for Tuesday using the named attribute Tue

In [60]:
scores.Tue

week_1    8.75
week_2    8.00
week_3    8.00
Name: Tue, dtype: float64

### 14) [P] Show at least three techniques to select scores for Wednesday using an integer. The return type can be either a DataFrame or a Series.

In [78]:
print(scores.iloc[:,2]) #series
print(scores.T.iloc[2]) #series
print(scores.loc[:][[days[2]]]) #dataframe

week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64
week_1     8.00
week_2    10.00
week_3     9.75
Name: Wed, dtype: float64
          Wed
week_1   8.00
week_2  10.00
week_3   9.75

### 15) [P] Select the data for the first week using the string "week_1". Your result should return a Seriesrepresenting the scores for week 1.

In [85]:
scores.loc["week_1"]

Mon     9.50
Tue     8.75
Wed     8.00
Thu    10.00
Fri     7.75
Name: week_1, dtype: float64

### 16) [P] Select the data for the first week using the string "week_1". Your result should return a DataFrame, representing the subset of the scores DataFrame for week 1 only.

In [88]:
scores.loc[["week_1"]]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

### 17) [P] Select the data for the first week using a slice (HINT: 0:1)

In [89]:
scores.iloc[0:1]

        Mon   Tue  Wed   Thu   Fri
week_1  9.5  8.75  8.0  10.0  7.75

### 18) [P] Show at least two techniques to select the data for the second week using an integer

In [101]:
print(scores.iloc[1])
print(scores.iloc[-2])

Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
Name: week_2, dtype: float64
Mon     9.00
Tue     8.00
Wed    10.00
Thu     8.75
Fri     7.25
Name: week_2, dtype: float64

### 19) [P] Select Monday and Friday of the first and third week.

In [103]:
scores.loc[["week_1","week_2"],["Mon","Fri"]]

        Mon   Fri
week_1  9.5  7.75
week_2  9.0  7.25

### 20) [P] Report the mean for each week

In [104]:
scores.mean(axis = 1)

week_1    8.80
week_2    8.60
week_3    8.25
dtype: float64

### 21) [P] For each week, report how much each day's score for that week differed from the mean for the week

In [105]:
scores.sub(scores.mean(axis = 1), axis = 0)

         Mon   Tue  Wed   Thu   Fri
week_1  0.70 -0.05 -0.8  1.20 -1.05
week_2  0.40 -0.60  1.4  0.15 -1.35
week_3  0.25 -0.25  1.5  0.75 -2.25

### 22) [P] Report the maximum score for each week

In [109]:
#index max gives index of the max value
scores.max(axis = 1)

week_1    10.00
week_2    10.00
week_3     9.75
dtype: float64

### 23) [P] For each week, report which day had the largest score

In [108]:
scores.idxmax(axis = 1)

week_1    Thu
week_2    Wed
week_3    Wed
dtype: object

### 24) [P] Report the week that had the highest total quiz score. Your answer should only be the name of the week from the index.

In [114]:
scores.sum(axis = 1).idxmax(axis = 1)

'week_1'

### 25) [P] Report the number of days of each week that had a score >= 9.25. Your answer should be a Series that looks like the following:

In [126]:
scores.ge(9.25).sum(axis = 1)

week_1    2
week_2    1
week_3    1
dtype: int64

### 26) [P] Report the scores rescaled to fall between 0 and 100, instead of 0 to 10 as they are now.

In [127]:
scores*10

         Mon   Tue    Wed    Thu   Fri
week_1  95.0  87.5   80.0  100.0  77.5
week_2  90.0  80.0  100.0   87.5  72.5
week_3  85.0  80.0   97.5   90.0  60.0