# Lab 08 - Distances and PCA

Name: Jake Schaeffer  
Class: CSCI 349 - Intro to Data Mining  
Semester: Spring 2020  
Instructor: Brian King

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats
from scipy.stats import zscore
from sklearn.decomposition import PCA

In [12]:
#1 
df = pd.DataFrame(data= {"test1":["A","C","C","B","A","B","C","B"],
 "test2":["excellent","fair","good","fair","poor","excellent","good","good"],
 "test3":[25,32,60,53,23,37,45,49]},
 index = ["A{}".format(i) for i in range(8)])

df["test1"] = pd.Categorical(df.test1)
df["test2"] = pd.Categorical(df.test2, categories = ["poor","fair","good","excellent"],ordered = True)
print(df)
df.info()

#2
df.describe(include = "all")

#3
df.test1.cat.categories
df.test2.cat.categories
#df.test3.cat.categories

4
df.test1.cat.codes
df.test2.cat.codes



#8 chi2 = stats.chi2_contingency(observed)

#p value and DoF chi2[1] chi2[2]

#9 same df but with df.cat.codes for test1 and test2

10
from sklearn.preprocessing import MinMaxSxaler
scaler = MinMaxScaler
scaler.fit(df_num)
df_num_zeroone = opd.DF(index = index, data = df _num_zerone
                       df_num_zzeroone = df.num.zeroone .rename, 0 test1 1 test2 2 test3)
dosplyay



11df_num.test3 = df.num.test3/100
display

12
from scipy.spatial.distance import pdist, squareform
distmat_zeroone = pd.DataFrame(data = squareform(pdist(df_num)),index = df_num.index,columns = df_num.index)

13
distmat_zeroone.stack().sort_values(ascending=False).drop_duplicates().head(3)
#or use pdist to not have duplicates in the first place
.index of prev would show stuff

14 same as 13 but use tail

       test1 test2      test3
count      8     8   8.000000
unique     3     4        NaN
top        C  good        NaN
freq       3     3        NaN
mean     NaN   NaN  40.500000
std      NaN   NaN  13.416408
min      NaN   NaN  23.000000
25%      NaN   NaN  30.250000
50%      NaN   NaN  41.000000
75%      NaN   NaN  50.000000
max      NaN   NaN  60.000000

In [ ]:
#11 df.test3.apply(lambda x: x/100)
#df_numzeroone